<section id="add_organisation">
	<form action="/organisation" method="post">
		<p>Organisation Name:</p>
		<input type="text" name="name"><br>
		
		<input type="submit" value="Create Organisation!">
	</form>
</section>