<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | Administration' %></title>
	<link href="/bootstrap.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<header>
		<hgroup>
			<h1>Administration</h1>
		</hgroup>
	</header>
	<div class="container">
		<div>
			<br>
			Add Organisation:
			<a href="/organisation/add"><input type="submit" value="New Organisation"></a>
			</p>
		</div>
	</div>
<!--	<footer>
		<p>An app to enter project reports</p>
	</footer> -->
	</div>
</body>
</html>
