<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | Projects' %></title>
	<link href="/bootstrap.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<header>
		<hgroup>
		
		</hgroup>
	</header>
<!--	<footer>
		<p>An app to enter project reports</p>
	</footer> -->
	</div>
       <%= yield %>
</body>
</html>
