.margin-top {
  margin-top: 50px;
}

.organisationlink {
  font-size: 18pt;
}

.donateButton {
	margin-left: 35%;
}

.project_panel {
	border:1px solid;
	border-radius: 5px;
	border-color: #CEE3F6;
	padding: 5px;
	background-color: #FFFFFF;
	color: #322B78;
}



.project_panel {
	font-size: 10pt;
}

.sectionheader {
	font-size: 20pt;
	color: #0B61A4;
	margin-top: 10px;
}

.links {
	text-align: center;
}

.project_display {
	color: #322B78;
}

.project_title {
	font-size: 26pt;
	margin-bottom: 20px;
}

.project_overview {
	font-size: 12pt;
}

.project_heading {
	font-size: 14pt;
}

.organisation {
	color: #322B78;
}

.organisation_name {
	font-size: 26pt;
}

.organisation_summary {
	margin-top: 20px;
	font-size: 8pt;
}

.organisation_description {
	margin-top: 20px;
	margin-bottom: 20px;
}

.summary td{
	padding-right: 50px;
}

.display_panel {
	border:1px solid;
	border-radius: 5px;
	border-color: #CEE3F6;
	padding: 5px;
	margin: 2px;
	background-color: #FFFFFF;
	color: #322B78;
}

.related_project_panel {
	margin-top: 10px;
}

